// Navigation code here
nav{
    .flex(column, center, center);
    background: darken(@porcelain, 10%);

    h1{
        font-size:4rem;
        margin-top:2%;
    }

    .links{
        .flex(row,space-between, center);
        width:50%;

        a{
            text-decoration:none;
            color:black;
            margin:2% 0%;
            font-size:1.6rem;
        }
    }
}